.DS_Store
*.orig
*.orig.meta
*.pyc
*.sln.cache
*.suo
*.userprefs
*.dll
*.dll.meta
*.pdb
*.pdb.meta
*.diff
dependency_override.json
packages/
gamelib/**/bin/
gamelib/**/obj/
unity/obj/
unity/UnityGenerated/
unity/Library/
unity/ExportedObj/
unity/Temp/
unity/Assets/UnityVS*
unity/*.sln
unity/*.unityproj
unity/*.csproj
html/generated/
html/node_modules/
server/venv*/
dist/
deploykey
*.aux
*.bbl
*.log
*.blg
*.out
papers/**/*.pdf
.\#*
.idea
.nuget
.stylelintrc.json
package-lock.json
