
#instructions-container {
    z-index: 1;
    height: 110px;
    max-height: 110px;
    min-height: 110px;
    overflow: visible;
    flex: none;
}

#instructions-display {
    padding: 10px;
    background: rgba(59,54,36,0.94);
    border-radius:10px;
    width: 100%;
    color: white;
    font-family: "Ubuntu Mono";
}

#instructions-header {
    overflow: auto;
}

#instructions > p {
    margin: 2px;
}

#instructions-goal {
    font-size: 16pt;
}

#instructions-detail {
    font-size: 12pt;
    height: 0px;
    overflow: hidden;
    padding: 0;

    transition: none 1.0s;
    transition-property: padding-top, height;
}

#instructions-display.expanded #instructions-detail {
    height: 530px;
    padding-top: 20px;
}

#instructions-reminder {
    float: right;
    color: #bbb;
    cursor: pointer;
}

#instructions-display button {
    display: block;
    color: black;
    font-size: 18pt;
    text-align: center;
    padding: 15px;
    margin: 10px auto;
    border-radius: 8px;
}

#instructions-icon {
    float: left;
    padding-right: 10px;
    position: relative;
    height: 80px;
}

@-webkit-keyframes speechBubble {
/*    0% {
        opacity: 0;
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }

    25% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }*/

    35%, 50%, 65%, 80%, 95% {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }

    72% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    88% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes speechBubble {
/*    0% {
        opacity: 0;
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }

    25% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }*/

    35%, 50%, 65%, 80%, 95% {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }

    72% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    88% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.speech-bubble {
    -webkit-animation-name: speechBubble;
    animation-name: speechBubble;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

