
/* basic stuff */
/************************************************************/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Open Sans";
}

body {
    background: #000;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* header */
/************************************************************/

header {
    display: flex;
    height: 70px;
    background: #fff;
}

header h1 {
    float: left;
    overflow: auto;
    margin: 0 50px 0 0;
}

#header-nav {
    float: right;
    margin-left: 50px;
}

/* main area and two main vertical divs */
/************************************************************/

#main {
    display: flex;
    width: 100%;
    margin-top: 15px;
}

#main-view-game {
    order: 1;
    width: 40%;
    margin-left: 25px;
    margin-right: 25px;
    background: #fff;
}

#main-view-code {
    position: relative;
    order: 0;
    width: 60%;
    margin-left: 25px;
    height: 800px;
}

/*
#main-view-game.transition {
    transition: width 1.0s ease-in-out;
}

#main-view-code.transition {
    transition: margin-left 1.0s ease-in-out;
}

#main-view-game.title {
    width: 75%;
}

#main-view-code.title {
    margin-left: 75%;
}
*/

/* Game controls, buttons and sliders */
/************************************************************/

.game-controls-bar {
    display: flex;
    align-items: center;
    height: 75px;
    padding: 10px;
}

.game-control {
}

#game-control-bar-playback {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 10px;
}

.game-control-btn-playback {
    font-weight: bold;
    width: 120px;
    height: 80px;
    margin-bottom: 10px;
}

#btn-run {
    font-size: 32pt;
    background-color: #37b03f;
}

#btn-run.active {
    background-color: #b03737;
    font-size: 24pt;
}

#btn-pause {
    background-color: #f5d46f;
    font-size: 24pt;
}

#btn-pause.active {
    background-color: #37b03f;
    font-size: 20pt;
}

#btn-pause.disabled {
    background-color: #BBB;
    color: #777;
}

.control-element {
    margin: 0 4px;
}

#game-controls-camera {
    display: inline-block;
    border: 2px solid black;
    border-radius: 6px;
    margin: 6px 0;
    padding: 4px;
}

.control-icon-btn {
    style: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 1px;
}

/* unity player */
/************************************************************/

#unity-player {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* smoe hilarious hacks to keep fixed aspect ratio */
#unity-player:after {
    padding-top: 75%;
    display: block;
    content: '';
}

#unity-player embed {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
}

/* */
/************************************************************/

.titleScreen, .levelSelector {
    margin: 30px;
    border: 1px solid black;
    padding: 30px;
}

/* TODO pick a non-crap styling for these things */
.titleScreen *, .levelSelector h2, .levelSelector > button {
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    display: block;
}

#languageMenu {
    vertical-align: top;
    margin-top: 12px;
    visibility: hidden;
}

#btn-undo {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 16pt;
}

#statement-counter {
    position: absolute;
    right: 15px;
    bottom: 150px;
    font-size: 18pt;
    font-family: sans-serif;
}

@-webkit-keyframes trash-arrow {
    0%   {-webkit-transform: rotate(90deg) translate(0px,0px); }
    50%  {-webkit-transform: rotate(90deg) translate(0px,50px);}
    100% {-webkit-transform: rotate(90deg) translate(0px,0px); }
}

@keyframes trash-arrow {
    0%   {transform: rotate(90deg) translate(0px,0px);}
    50%  {transform: rotate(90deg) translate(0px,50px);}
    100% {transform: rotate(90deg) translate(0px,0px);}
}

#trash-arrow {
    position: absolute;
    right: 125px;
    bottom: -10px;
    height: 150px;
    -webkit-animation-name: trash-arrow;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-play-state: paused;
    animation-name: trash-arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
    visibility: hidden;
}

#instructionsContainer {
    position: absolute;
    z-index: 1;
    height: 100%;
}

#instructionsBackground {
    top: 0px;
    left: 10px;
    padding:10px;
    background: #333; /* default background for browsers without gradient support */
    opacity: 0.95;
    border-radius:10px;
    width: 100%;
}

#instructions {
    color:#fff;
    font-family: "Ubuntu Mono";
    padding: 15px;
}

p.instructions {
    margin: 2px;
}

#instructions-goal {
    font-size: 16pt;
    padding-bottom: 20px;
}

#instructions-detail {
    font-size: 12pt;
}

#instructions-reminder {
    float: right;
    color: #ffcc99;
    cursor: pointer;
}

#instructions button {
    display: block;
    color: black;
    font-size: 18pt;
    text-align: center;
    padding: 15px;
    margin: 40px auto;
    border-radius: 8px;
}

.instructionsShown {
    border-style: solid;
    border-width: 4px;
    border-color: #B24E3A;
    border-radius:10px;
    padding: 25px;
    padding-bottom: 10px;  
}

#dragonIcon {
    top: -10px;
    padding: 10px;
    position: relative;
}

@-webkit-keyframes instructionsShow {
    0% {
        min-height: 0%;
    }

    100% {
        min-height: 100%;
    }
}

@keyframes instructionsShow {
    0% {
        min-height: 0%;
    }

    100% {
        min-height: 100%;
    }
}

.instructionsShow {
    -webkit-animation-name: instructionsShow;
    animation-name: instructionsShow;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes instructionsHide {
    0% {
        min-height: 100%;
    }

    100% {
        min-height: 0%;
    }
}

@keyframes instructionsHide {
    0% {
        min-height: 100%;
    }

    100% {
        min-height: 0%;
    }
}

.instructionsHide {
    -webkit-animation-name: instructionsHide;
    animation-name: instructionsHide;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes detailShow {
    0% {
        opacity: 0;
        padding-bottom: 0px;
    }

    100% {
        opacity: 1;
        padding-bottom: 25px;
    }
}

@keyframes detailShow {
    0% {
        opacity: 0;
        padding-bottom: 0px;
    }

    100% {
        opacity: 1;
        padding-bottom: 25px;
    }
}

.detailShow {
    -webkit-animation-name: detailShow;
    animation-name: detailShow;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes detailHide {
    0% {
        opacity: 1;
        padding-bottom: 25px;
    }

    100% {
        opacity: 0;
        padding-bottom: 0px;
    }
}

@keyframes detailHide {
    0% {
        opacity: 1;
        padding-bottom: 25px;
    }

    100% {
        opacity: 0;
        padding-bottom: 0px;
    }
}

.detailHide {
    -webkit-animation-name: detailHide;
    animation-name: detailHide;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes speechBubble {
/*    0% {
        opacity: 0;
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }

    25% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }*/

    35%, 50%, 65%, 80%, 95% {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }

    72% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    88% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes speechBubble {
/*    0% {
        opacity: 0;
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }

    25% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }*/

    35%, 50%, 65%, 80%, 95% {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }

    72% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    88% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.speechBubble {
    -webkit-animation-name: speechBubble;
    animation-name: speechBubble;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.tick { 
    position: relative;
    text-align:center;
    font-family: "Ubuntu Mono";
    font-weight: bold;
}

#sliderContainer {
    width: 300px;
    background-color: rgba(90, 90, 90, 0.2);
    border-color: #000;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
}

.levelSelector svg {
    overflow: hidden;
    background: #fff;
}

.levelSelector .node rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}

.levelSelector .node circle {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}

.levelSelector .node, .clickable {
    cursor: pointer;
}

.levelSelector .edgeLabel rect {
    fill: #fff;
}

.levelSelector .edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}
