
/* basic stuff */
/************************************************************/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Open Sans";
    height: 100%;
}

body {
    background: #b5b5b5;
    height: 100%;
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    min-width: 1200px;
}

/* header */
/************************************************************/

header {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    height: 60px;
    -webkit-flex: none;
    background: #4aaae3;
}

header > div {
    flex-grow: 0;
    -webkit-flex-grow: 0;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}

header > div * {
    margin: 7px;
}

header > h1 {
    margin: 0 10px;
    flex-grow: 0;
    -webkit-flex-grow: 0;
}

/* loading pane */
/************************************************************/

.view-loading {
    display: flex;
    display: -webkit-flex;
    margin: 40px auto;
    padding: 60px;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    background: white;
}

.view-loading > p {
    font-size: 40pt;
}

.player-consent {
    display: inline-table; /* don't know why, but this gets it to size to content */
    font-family: "Open Sans";
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
}
/* main area and two main vertical divs */
/************************************************************/

#main {
    display: flex;
    display: -webkit-flex;
    align-items: stretch;
    -webkit-align-items: stretch;
    width: 100%;
    margin: 10px 0;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    min-height: 630px;
}

#main-view-game {
    order: 1;
    -webkit-order: 1;
    width: 40%;
    margin-left: 25px;
    margin-right: 25px;
    background: #ccebff;
    padding: 0 10px;
}

#main-view-code {
    position: relative;
    order: 0;
    -webkit-order: 0;
    width: 60%;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    align-items: stretch;
    -webkit-align-items: stretch;
}

#code-area {
    position: relative;
    display: flex;
    display: -webkit-flex;
    align-items: stretch;
    -webkit-align-items: stretch;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

#blockly {
    border: none;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

/* Game controls, buttons and sliders */
/************************************************************/

.game-controls-bar {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    height: 75px;
    padding: 5px 0;
}

.game-control {
    height: 52px;
    border-radius: 6px;
    background: rgba(74, 170, 227, 0.7);
}

.game-control.disabled {
    background: rgba(150, 150, 150, 0.7); 
}

p.game-control {
    font-size: 16pt;
    padding: 10px;
}

div.game-control {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    padding: 5px;
}

.control-element {
    margin: 0 2px 0 0;
}

header button, .control-btn, .control-icon-btn {
    display: block;
    height: 40px;
    border: 2px solid rgb(160, 139, 72);
    border-radius: 4px;
    background-color: #d1bd7d;
}

.control-icon-btn {
    width: 40px;
    margin: 0 0 0 5px;
}

#game-controls-bar-bottom {
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 130px;
}

#time-controls {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.btn-time-slider {
    margin: 10px;
    height: auto;
}

.btn-time-slider.disabled {
    background-color: #CDCDCD;
    border-color: rgb(100,100,100);
}

/* run/pause buttons */
/************************************************************/

#game-control-bar-playback {
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    position: absolute;
    right: 10px;
    top: 30px;
}

.game-control-btn-playback {
    display: block;
    font-weight: bold;
    width: 120px;
    margin-bottom: 10px;
    border-radius: 8px;
}

#btn-run, #btn-pause.active {
    background-color: #11d800;
}

#btn-run {
    font-size: 32pt;
    height: 80px;
}

#btn-run.active {
    background-color: #b03737;
    font-size: 24pt;
}

#btn-pause {
    background-color: #f5d46f;
    height: 40px;
    line-height: 36px;
    font-size: 20pt;
}

#btn-pause.active {
    font-size: 20pt;
}

#btn-pause.disabled {
    background-color: #BBB;
    color: #777;
}

#btn-step {
    background-color: #11d800;
    height: 40px;
    line-height: 36px;
    font-size: 17pt;
}

#btn-step.disabled {
    background-color: #BBB;
    color: #777;
}

#btn-done {
    color: #fff;
    background-color: #0072F4;
}

/* unity player */
/************************************************************/

#unity-player {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* smoe hilarious hacks to keep fixed aspect ratio */
#unity-player:after {
    padding-top: 75%;
    display: block;
    content: '';
}

#unity-player embed {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
}

/* */
/************************************************************/

#btn-undo {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 16pt;
}

#statement-counter {
    position: absolute;
    right: 15px;
    bottom: 150px;
    font-size: 18pt;
    font-family: sans-serif;
}

@-webkit-keyframes trash-arrow {
    0%   {-webkit-transform: translate(0px,0px); }
    50%  {-webkit-transform: translate(-50px,0px);}
    100% {-webkit-transform: translate(0px,0px); }
}

@keyframes trash-arrow {
    0%   {transform: translate(0px,0px);}
    50%  {transform: translate(-50px,0px);}
    100% {transform: translate(0px,0px);}
}

#attention-arrow {
    position: absolute;
    width: 75px;
    -webkit-animation-name: trash-arrow;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    animation-name: trash-arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    display: none;
    z-index: 1;
}

.slider-labels {
    display: flex;
    display: -webkit-flex;
    width: auto;
}

.slider-labels > span {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    font-family: "Ubuntu Mono";
    font-weight: bold;
}

.slider-container {
    height: 52px;
    padding: 5px;
    background-color: transparent;
}

#slider .ui-slider-handle {
    background: #d1bd7d;
    border-color: black;
}

/* Puzzle selector */
/************************************************************/

#selector-puzzle {
    position: relative
    width: 100%;
    margin: 100px;
    background-color: black;
    z-index: 1;
}

#selector-puzzle svg {
    display: block;
    margin: auto;
    background: #fff;
}

#selector-puzzle .node rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}

#selector-puzzle .node, .clickable {
    cursor: pointer;
}

#selector-puzzle .edgeLabel rect {
    fill: #fff;
}

#selector-puzzle .edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}

#selector-pack {
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    background-color: #fff;
    align-items: center;
    -webkit-align-items: center;
    z-index: 1;
    min-height: 400px;
}

.packOptions {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.packOption {
    padding: 25px;
    margin: 10px;
    background-color: antiquewhite;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}

#selector-gallery {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    background-color: #fff;
    z-index: 1;
    min-height: 800px;
    height: 100%;
}

.galleryItems {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    min-height: 100%;
}

.galleryItem {
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 285px;
    padding: 25px;
    margin: 10px;
    background-color: antiquewhite;
    border-style: solid;
    border-width: 2px;
}

.galleryItem>p {
    font-size: 18pt;
    text-align: center;
    margin-bottom: 10px;
}

.galleryItem>div {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.galleryItem * img {
    width: 250px;
}

.galleryButton {
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100px;
}

#share-container {
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    background-color: antiquewhite;
    border-style: solid;
    border-width: 2px;
    min-height: 500px;
}

#share-message {
    padding-top: 20px;
    font-style: bold;
    font-size: 24pt;
}

#share-body {
    min-height: 400px;
    max-height: 400px;
    height: 400px;
    width: 750px;
    padding: 10px;
}

#share-thumb {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

/* dialogs */
/************************************************************/

#dialog {
  background-color: rgba(175,53,49,0.9);
  color: #fff;
  border: 1px solid #ccc;
  position: absolute;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #888;
  padding: 10px;
  z-index: 1;
}

#dialog button {
    color: #000;
}

#dialog-icon {
    float: left;
    padding-right: 10px;
    position: relative;
    height: 100px;
}

/* Consent form */
/************************************************************/

#btn-consent-continue {
    display: inline-block;
    font-size: 130%;
    font-weight: bold;
    padding: 10px;
    margin: 20px 0 0 200px;
}

/* misc */
/************************************************************/

.no-transition {
    transition: none !important;
}

/* code entry */
/************************************************************/

#code-entry {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#code-entry-area {
    font-size: 8pt;
    height: 100px;
    flex-grow: 1;
}

#btn-code-entry {
    margin: 10px;
    height: 40px;

}