
/* basic stuff */
/************************************************************/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Open Sans";
    height: 100%;
}

body {
    background: #000;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* header */
/************************************************************/

header {
    display: flex;
    height: 70px;
    flex: none;
    background: #fff;
}

header h1 {
    float: left;
    overflow: auto;
    margin: 0 50px 0 0;
}

#header-nav {
    float: right;
    margin-left: 50px;
}

/* main area and two main vertical divs */
/************************************************************/

#main {
    display: flex;
    align-items: stretch;
    width: 100%;
    margin-top: 15px;
    flex-grow: 1;
    min-height: 800px;
}

#main-view-game {
    order: 1;
    width: 40%;
    margin-left: 25px;
    margin-right: 25px;
    background: #fff;
}

#main-view-code {
    position: relative;
    order: 0;
    width: 60%;
    margin-left: 25px;
    display: flex;
    align-items: stretch;
}

#blockly {
    border: none;
    flex-grow: 1;
}

/*
#main-view-game.transition {
    transition: width 1.0s ease-in-out;
}

#main-view-code.transition {
    transition: margin-left 1.0s ease-in-out;
}

#main-view-game.title {
    width: 75%;
}

#main-view-code.title {
    margin-left: 75%;
}
*/

/* Game controls, buttons and sliders */
/************************************************************/

.game-controls-bar {
    display: flex;
    align-items: center;
    height: 75px;
    padding: 5px;
}

.game-controls-bar > * {
    margin: 5px;
}

.game-control {
}

#game-control-bar-playback {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 10px;
}

.game-control-btn-playback {
    display: block;
    font-weight: bold;
    width: 120px;
    margin-bottom: 10px;
    border-radius: 8px;
}

#btn-run {
    font-size: 32pt;
    height: 80px;
    background-color: #37b03f;
}

#btn-run.active {
    background-color: #b03737;
    font-size: 24pt;
}

#btn-pause {
    background-color: #f5d46f;
    height: 40px;
    line-height: 36px;
    font-size: 20pt;
}

#btn-pause.active {
    background-color: #37b03f;
    font-size: 20pt;
}

#btn-pause.disabled {
    background-color: #BBB;
    color: #777;
}

#game-controls-camera {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 6px;
    padding: 0;
}

.control-element {
    margin: 0 7px;
}

.control-btn, .control-icon-btn {
    display: inline-block;
    height: 40px;
    border: 2px solid black;
    border-radius: 4px;
}

.control-icon-btn {
    width: 40px;
    margin: 5px 5px 5px 0;
}

/* unity player */
/************************************************************/

#unity-player {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* smoe hilarious hacks to keep fixed aspect ratio */
#unity-player:after {
    padding-top: 75%;
    display: block;
    content: '';
}

#unity-player embed {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
}

/* */
/************************************************************/

#btn-undo {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 16pt;
}

#statement-counter {
    position: absolute;
    right: 15px;
    bottom: 150px;
    font-size: 18pt;
    font-family: sans-serif;
}

@-webkit-keyframes trash-arrow {
    0%   {-webkit-transform: rotate(90deg) translate(0px,0px); }
    50%  {-webkit-transform: rotate(90deg) translate(0px,50px);}
    100% {-webkit-transform: rotate(90deg) translate(0px,0px); }
}

@keyframes trash-arrow {
    0%   {transform: rotate(90deg) translate(0px,0px);}
    50%  {transform: rotate(90deg) translate(0px,50px);}
    100% {transform: rotate(90deg) translate(0px,0px);}
}

#trash-arrow {
    position: absolute;
    right: 125px;
    bottom: -10px;
    height: 150px;
    -webkit-animation-name: trash-arrow;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-play-state: paused;
    animation-name: trash-arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
    visibility: hidden;
}

.tick {
    position: relative;
    font-family: "Ubuntu Mono";
    font-weight: bold;
}

#sliderContainer {
    width: 300px;
    background-color: rgba(90, 90, 90, 0.2);
    border-color: #000;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
}

/* Puzzle selector */
/************************************************************/

#selector-puzzle {
    position: relative
    width: 100%;
    margin: 100px;
    background-color: black;
    z-index: 1;
}

#selector-puzzle svg {
    display: block;
    margin: auto;
    background: #fff;
}

#selector-puzzle .node rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}

#selector-puzzle .node, .clickable {
    cursor: pointer;
}

#selector-puzzle .edgeLabel rect {
    fill: #fff;
}

#selector-puzzle .edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}

.moduleSelector {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
}

.moduleOptions {
    display: flex;
    justify-content: center;
}

.moduleOption {
    padding: 25px;
    margin: 10px;
    background-color: antiquewhite;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}

