#btn-run {
  background-color: #37B03F;
  font-size: 32pt;
  font-weight: bold;
  position: absolute;
}

#toolbarDiv {
  text-align: center;
  width: 400px;
  padding-top: 1em;
}

#blockly {
  position: absolute;
  bottom: 10px;
  max-width: 100%;
  width: auto;
}

body {
  overflow: hidden;
}

#languageMenu {
  vertical-align: top;
  margin-top: 12px;
  visibility: hidden;
}

#statement-counter {
  position: absolute;
  font-size: 18pt;
  font-family: sans-serif;
  top: 10px;
}

@-webkit-keyframes trash-arrow {
  0%   {-webkit-transform: rotate(90deg) translate(0px,0px); }
  50%  {-webkit-transform: rotate(90deg) translate(0px,50px);}
  100% {-webkit-transform: rotate(90deg) translate(0px,0px); }
}

@keyframes trash-arrow {
  0%   {transform: rotate(90deg) translate(0px,0px);}
  50%  {transform: rotate(90deg) translate(0px,50px);}
  100% {transform: rotate(90deg) translate(0px,0px);}
}

#trash-arrow {
  position: absolute;
  height: 150px;
  -webkit-animation-name: trash-arrow;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-play-state: paused;
  animation-name: trash-arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-play-state: paused;
  visibility: hidden;
}

#btn-undo {
  position: absolute;
  font-size: 16pt;
}

#instructions {
  position:absolute;
  top: 10px;
  left: 160px;
  padding:15px;
  margin:1em 0 3em;
  color:#fff;
  font-family: monospace;
  background: #333; /* default background for browsers without gradient support */
  opacity: 0.8;
  border-radius:10px;
}

/* creates the narrower right-angled triangle */
#instructions:after {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:80px; /* value = (:before's left) + (:before's border-right/left-width)  - (:after's border-right/left-width) */
  border:0;
  border-right-width:10px; /* vary this value to change the angle of the vertex */
  border-bottom-width:20px; /* vary this value to change the height of the triangle. must be equal to the corresponding value in :before */
  border-style:solid;
  border-color:transparent #333;
  opacity: 0.8;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}